rules_version = '2';

function loggedIn() {
  return request.auth != null;
}

function thisUser() {
  return loggedIn() && request.auth.uid == resource.data.userId;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/users/{userId} {
      allow read: if thisUser();
    }
  }
}
