rules_version = '2';

function loggedIn() {
  return request.auth != null;
}

function thisUser() {
  return loggedIn() && request.auth.token.email == resource.data.email;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/users/{userEmail} {
      allow read: if thisUser();
    }
  }
}
