rules_version = '2';

function loggedIn() {
  return request.auth != null;
}

function thisUser() {
  return loggedIn() && request.auth.token.email == resource.data.email;
}

service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/users/{userEmail} {
      allow read: if thisUser();
    }

    match /series/{seriesId} {
      function getUserDoc() {
        return get(/databases/$(database)/documents/series/$(seriesId)/users/$(request.auth.token.email))
      }

      match /snapshots/{snapshotId} {
        allow read: if (loggedIn() && getUserDoc().data.snapshot_permissions["read_all"]) ||
                       (loggedIn() && resource.data.tag_categories.hasAny(getUserDoc().data.snapshot_permissions["read_tag_categories"]))
      }
    }
  }
}
